Part2/vagrant/.vagrant/bundler/global.sol
Part2/vagrant/.vagrant/machines/master1/libvirt/action_provision
Part2/vagrant/.vagrant/machines/master1/libvirt/box_meta
Part2/vagrant/.vagrant/machines/master1/libvirt/created_networks
Part2/vagrant/.vagrant/machines/master1/libvirt/creator_uid
Part2/vagrant/.vagrant/machines/master1/libvirt/id
Part2/vagrant/.vagrant/machines/master1/libvirt/index_uuid
Part2/vagrant/.vagrant/machines/master1/libvirt/private_key
Part2/vagrant/.vagrant/machines/master1/libvirt/synced_folders
Part2/vagrant/.vagrant/machines/master1/libvirt/vagrant_cwd
Part2/vagrant/.vagrant/machines/worker1/libvirt/action_provision
Part2/vagrant/.vagrant/machines/worker1/libvirt/box_meta
Part2/vagrant/.vagrant/machines/worker1/libvirt/created_networks
Part2/vagrant/.vagrant/machines/worker1/libvirt/creator_uid
Part2/vagrant/.vagrant/machines/worker1/libvirt/id
Part2/vagrant/.vagrant/machines/worker1/libvirt/index_uuid
Part2/vagrant/.vagrant/machines/worker1/libvirt/private_key
Part2/vagrant/.vagrant/machines/worker1/libvirt/synced_folders
Part2/vagrant/.vagrant/machines/worker1/libvirt/vagrant_cwd
Part2/vagrant/.vagrant/rgloader/loader.rb
Part2/kubeadm_token_command
Part2/kubeadm_join_command.log
Part2/config
Part3/secret.yml
